.BusinessList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4.4rem;
}

.BusinessList .inactive {
    display: none;
}

.BusinessList .active {
    display: block;
}